/*
** Rainbow
** A set of colorful CSS3 buttons
**
** https://github.com/cristianradu/rainbow
** by Cristian Radu <code@cristianradu.com>
**
**
** Based on "Apple OS X Lion Buttons in CSS" by Pixify
** http://pixify.com/blog/use-os-x-lion-to-improve-your-ui/
**
** License: Attribution 4.0 International (CC BY 4.0)
** https://creativecommons.org/licenses/by/4.0/
*/
.rb {
  display: inline-block;
  padding: .75rem 1.5rem;
  color: #484848;
  background-color: #f0f0f0;
  border: 1px solid #a1a1a1;
  border-radius: 0.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  transition: all .25s; }
  .rb:hover {
    color: #282828;
    background-color: #fefefe;
    border-color: #909090;
    text-decoration: none;
    cursor: pointer; }
  .rb:active, .rb.selected {
    background-color: #d0d0d0;
    border-color: #7f7f7f; }
  .rb:disabled, .rb.disabled {
    color: #b4b4b4;
    background-color: #f0f0f0;
    border-color: #c1c1c1;
    cursor: not-allowed;
    pointer-events: none; }
  .rb.small {
    padding: .5rem .75rem;
    font-size: .75rem; }

.rb-group {
  display: inline-flex; }
  .rb-group .rb {
    border-radius: 0; }
    .rb-group .rb:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem; }
    .rb-group .rb:last-of-type {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem; }
    .rb-group .rb:not(:last-of-type) {
      border-right: none; }

.rb-red {
  color: #3a3a3a;
  background-color: #f0b4b4; }
  .rb-red.rb-chameleon {
    color: #484848;
    background-color: #f0f0f0; }
  .rb-red:hover {
    color: #0a0a0a;
    background-color: #f6d2d2;
    border-color: #333; }
  .rb-red:active, .rb-red.selected {
    background-color: #ea9696;
    border-color: #7f7f7f; }
  .rb-red.selected {
    color: #0a0a0a; }

.rb-orange {
  color: #3a3a3a;
  background-color: #f0d2b4; }
  .rb-orange.rb-chameleon {
    color: #484848;
    background-color: #f0f0f0; }
  .rb-orange:hover {
    color: #0a0a0a;
    background-color: #f6e4d2;
    border-color: #333; }
  .rb-orange:active, .rb-orange.selected {
    background-color: #eac096;
    border-color: #7f7f7f; }
  .rb-orange.selected {
    color: #0a0a0a; }

.rb-yellow {
  color: #3a3a3a;
  background-color: #f0f0b4; }
  .rb-yellow.rb-chameleon {
    color: #484848;
    background-color: #f0f0f0; }
  .rb-yellow:hover {
    color: #0a0a0a;
    background-color: #f6f6d2;
    border-color: #333; }
  .rb-yellow:active, .rb-yellow.selected {
    background-color: #eaea96;
    border-color: #7f7f7f; }
  .rb-yellow.selected {
    color: #0a0a0a; }

.rb-green {
  color: #3a3a3a;
  background-color: #b4f0b4; }
  .rb-green.rb-chameleon {
    color: #484848;
    background-color: #f0f0f0; }
  .rb-green:hover {
    color: #0a0a0a;
    background-color: #d2f6d2;
    border-color: #333; }
  .rb-green:active, .rb-green.selected {
    background-color: #96ea96;
    border-color: #7f7f7f; }
  .rb-green.selected {
    color: #0a0a0a; }

.rb-blue {
  color: #3a3a3a;
  background-color: #b4d2f0; }
  .rb-blue.rb-chameleon {
    color: #484848;
    background-color: #f0f0f0; }
  .rb-blue:hover {
    color: #0a0a0a;
    background-color: #d2e4f6;
    border-color: #333; }
  .rb-blue:active, .rb-blue.selected {
    background-color: #96c0ea;
    border-color: #7f7f7f; }
  .rb-blue.selected {
    color: #0a0a0a; }

.rb-purple {
  color: #3a3a3a;
  background-color: #d2b4f0; }
  .rb-purple.rb-chameleon {
    color: #484848;
    background-color: #f0f0f0; }
  .rb-purple:hover {
    color: #0a0a0a;
    background-color: #e4d2f6;
    border-color: #333; }
  .rb-purple:active, .rb-purple.selected {
    background-color: #c096ea;
    border-color: #7f7f7f; }
  .rb-purple.selected {
    color: #0a0a0a; }

.rb-pink {
  color: #3a3a3a;
  background-color: #f0b4f0; }
  .rb-pink.rb-chameleon {
    color: #484848;
    background-color: #f0f0f0; }
  .rb-pink:hover {
    color: #0a0a0a;
    background-color: #f6d2f6;
    border-color: #333; }
  .rb-pink:active, .rb-pink.selected {
    background-color: #ea96ea;
    border-color: #7f7f7f; }
  .rb-pink.selected {
    color: #0a0a0a; }

.rb-lime {
  color: #3a3a3a;
  background-color: #d2f0b4; }
  .rb-lime.rb-chameleon {
    color: #484848;
    background-color: #f0f0f0; }
  .rb-lime:hover {
    color: #0a0a0a;
    background-color: #e4f6d2;
    border-color: #333; }
  .rb-lime:active, .rb-lime.selected {
    background-color: #c0ea96;
    border-color: #7f7f7f; }
  .rb-lime.selected {
    color: #0a0a0a; }

.rb-mint {
  color: #3a3a3a;
  background-color: #b4f0d2; }
  .rb-mint.rb-chameleon {
    color: #484848;
    background-color: #f0f0f0; }
  .rb-mint:hover {
    color: #0a0a0a;
    background-color: #d2f6e4;
    border-color: #333; }
  .rb-mint:active, .rb-mint.selected {
    background-color: #96eac0;
    border-color: #7f7f7f; }
  .rb-mint.selected {
    color: #0a0a0a; }

.rb-aqua {
  color: #3a3a3a;
  background-color: #b4f0f0; }
  .rb-aqua.rb-chameleon {
    color: #484848;
    background-color: #f0f0f0; }
  .rb-aqua:hover {
    color: #0a0a0a;
    background-color: #d2f6f6;
    border-color: #333; }
  .rb-aqua:active, .rb-aqua.selected {
    background-color: #96eaea;
    border-color: #7f7f7f; }
  .rb-aqua.selected {
    color: #0a0a0a; }

.rb-cobalt {
  color: #3a3a3a;
  background-color: #b4b4f0; }
  .rb-cobalt.rb-chameleon {
    color: #484848;
    background-color: #f0f0f0; }
  .rb-cobalt:hover {
    color: #0a0a0a;
    background-color: #d2d2f6;
    border-color: #333; }
  .rb-cobalt:active, .rb-cobalt.selected {
    background-color: #9696ea;
    border-color: #7f7f7f; }
  .rb-cobalt.selected {
    color: #0a0a0a; }

.rb-rose {
  color: #3a3a3a;
  background-color: #f0b4d2; }
  .rb-rose.rb-chameleon {
    color: #484848;
    background-color: #f0f0f0; }
  .rb-rose:hover {
    color: #0a0a0a;
    background-color: #f6d2e4;
    border-color: #333; }
  .rb-rose:active, .rb-rose.selected {
    background-color: #ea96c0;
    border-color: #7f7f7f; }
  .rb-rose.selected {
    color: #0a0a0a; }

/*# sourceMappingURL=rainbow.css.map */
