
@mixin background-gradient($color: #f0f0f0) {
    $from-color: $color + #070707;
    $to-color:   $color - #1f1f1f;

    background: $color;
    background: -webkit-linear-gradient(top, $from-color, $to-color);
    background:    -moz-linear-gradient(top, $from-color, $to-color);
    background:     -ms-linear-gradient(top, $from-color, $to-color);
    background:      -o-linear-gradient(top, $from-color, $to-color);
    background:         linear-gradient(top, $from-color, $to-color);
}

@mixin background-stop-gradient($color: #d0d0d0, $stop: 15%) {
    $from-color: $color - #282828;
    $stop-color: $color - #0a0a0a;
    $to-color:   $color + #080808;

    background: $color;
    background: -webkit-gradient(linear, left top, left bottom, from($from-color), color-stop($stop, $stop-color), to($to-color));
    background: -webkit-linear-gradient(top, $from-color, $stop-color $stop, $to-color);
    background:    -moz-linear-gradient(top, $from-color, $stop-color $stop, $to-color);
    background:     -ms-linear-gradient(top, $from-color, $stop-color $stop, $to-color);
    background:      -o-linear-gradient(top, $from-color, $stop-color $stop, $to-color);
    background:         linear-gradient(top, $from-color, $stop-color $stop, $to-color);
}

@mixin border-radius($radius: 4px) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}

@mixin border-corner-radius($top-left-radius: 4px, $top-right-radius: 4px, $bottom-left-radius: 4px, $bottom-right-radius: 4px) {
    -webkit-border-top-left-radius:     $top-left-radius;
       -moz-border-radius-topleft:      $top-left-radius;
            border-top-left-radius:     $top-left-radius;
    -webkit-border-top-right-radius:    $top-right-radius;
       -moz-border-radius-topright:     $top-right-radius;
            border-top-right-radius:    $top-right-radius;
    -webkit-border-bottom-left-radius:  $bottom-left-radius;
       -moz-border-radius-bottomleft:   $bottom-left-radius;
            border-bottom-left-radius:  $bottom-left-radius;
    -webkit-border-bottom-right-radius: $bottom-right-radius;
       -moz-border-radius-bottomright:  $bottom-right-radius;
            border-bottom-right-radius: $bottom-right-radius;
}

@mixin box-shadow($x: 0, $y: 1px, $blur: 0, $r: 255, $g: 255, $b: 255, $alpha: 0.5) {
	-webkit-box-shadow: $x $y $blur rgba($r, $g, $b, $alpha);
	   -moz-box-shadow: $x $y $blur rgba($r, $g, $b, $alpha);
	        box-shadow: $x $y $blur rgba($r, $g, $b, $alpha);

    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#ffffff')";
        filter:  progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#ffffff');
}

@mixin transition($duration: .218s) {
    -webkit-transition: border-color $duration;
       -moz-transition: border       $duration;
         -o-transition: border-color $duration;
            transition: border-color $duration;
}
