/*
** Rainbow
** A set of colorful CSS3 buttons
**
** https://github.com/cristianradu/rainbow
** by Cristian Radu <code@cristianradu.com>
**
**
** Based on "Apple OS X Lion Buttons in CSS" by Pixify
** http://pixify.com/blog/use-os-x-lion-to-improve-your-ui/
**
** License: Attribution 4.0 International (CC BY 4.0)
** https://creativecommons.org/licenses/by/4.0/
*/

// basic colors
$color-red:    #f0b4b4;
$color-orange: #f0d2b4;
$color-yellow: #f0f0b4;
$color-green:  #b4f0b4;
$color-blue:   #b4d2f0;
$color-purple: #d2b4f0;
$color-pink:   #f0b4f0;

// bonus colors
$color-lime:   #d2f0b4;
$color-mint:   #b4f0d2;
$color-aqua:   #b4f0f0;
$color-cobalt: #b4b4f0;
$color-rose:   #f0b4d2;

// -----------------------------------------------------------------------------

// the default button
.rb {
  display: inline-block;
  padding: .75rem 1.5rem; // 12px, 24px

  color: #484848;
  background-color: #f0f0f0;
  border: 1px solid #a1a1a1;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-size: .875rem; // 14px
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;

  @include border-radius();
  @include box-shadow();
  @include transition();
  @include user-select;

  &:hover {
    color: #282828;
    background-color: #fefefe;
    border-color: #7f7f7f;

    text-decoration: none;

    cursor: pointer;
  }

  &:active,
  &.selected {
    background-color: #d0d0d0;
    border-color: #7f7f7f;
  }

  &.disabled {
    color: #b4b4b4;
    background-color: #f0f0f0;
    border-color: #b4b4b4;

    cursor: not-allowed;
    pointer-events: none;
  }

  &.small {
    padding: .5rem .75rem; // 8px, 12px

    font-size: .75rem; // 12px
  }
}

// grouped buttons
/*
** remember to remove the whitespace between them using one of the methods listed here:
** http://css-tricks.com/fighting-the-space-between-inline-block-elements/
*/
.rb-left {
  border-right: solid 1px #b0b0b0;

  @include border-corner-radius(4px, 0, 4px, 0);
}
.rb-middle {
  border-left: solid 1px rgba(255, 255, 255, 0);
  border-right: solid 1px #b0b0b0;

  @include border-radius(0);

  &:hover {
    border-left: solid 1px #333333;
  }

  &:active,
  &.selected {
    border-left: solid 1px #7f7f7f;
  }
}
.rb-right {
  border-left: solid 1px rgba(255, 255, 255, 0);

  @include border-corner-radius(0, 4px, 0, 4px);

  &:hover {
    border-left: solid 1px #333333;
  }

  &:active,
  &.selected {
    border-left: solid 1px #7f7f7f;
  }
}

// -----------------------------------------------------------------------------

// the template for a colored button
@mixin rainbow-button($color: #f0f0f0) {
  color: #3a3a3a;
  text-shadow: 0 1px 0 #eaeaea;

  @include background-gradient($color);

  // chameleon style looks like a default button on its normal state
  // but becomes colored on hover and active
  &.rb-chameleon {
    color: #484848;
    text-shadow: 0 1px 0 #fff;

    @include background-gradient(#f0f0f0);
  }

  &:hover {
    color: #0a0a0a;
    text-shadow: 0 1px 0 #fafafa;

    @include background-gradient($color + #0e0e0e);

    border: 1px solid #333;
  }

  &:active,
  &.selected {
    @include background-stop-gradient($color - #202020);

    border: 1px solid #7f7f7f;
  }

  &.selected {
    color: #0a0a0a;
    text-shadow: 0 1px 0 #fafafa;
  }
}

// -----------------------------------------------------------------------------

// the selectors for each colored button
.rb-red {
  @include rainbow-button($color-red);
}
.rb-orange {
  @include rainbow-button($color-orange);
}
.rb-yellow {
  @include rainbow-button($color-yellow);
}
.rb-green {
  @include rainbow-button($color-green);
}
.rb-blue {
  @include rainbow-button($color-blue);
}
.rb-purple {
  @include rainbow-button($color-purple);
}
.rb-pink {
  @include rainbow-button($color-pink);
}

.rb-lime {
  @include rainbow-button($color-lime);
}
.rb-mint {
  @include rainbow-button($color-mint);
}
.rb-aqua {
  @include rainbow-button($color-aqua);
}
.rb-cobalt {
  @include rainbow-button($color-cobalt);
}
.rb-rose {
  @include rainbow-button($color-rose);
}
